/*头部*/

header ul li:nth-of-type(5)>a{background:#dedede;height:71px;}


/*导航*/
.wrapper{background:none;}



nav{background:url(../images/businessinfo_banner_02.gif) no-repeat;box-shadow:-0px 2px 10px -0px #003359;height:519px;}
nav .title{position:absolute; left:307px; top:146px;}


/*内容部分*/
section{width:1500px; height:695px; margin:0 auto; }
section .inner{width:1000px; height:auto; margin:0 auto;}
section .inner::before{display:block; height:55px;content:""; visibility:hidden;}
section .inner h2{font-size:20px; margin-left:50px;color:#12151c;}
section .inner .main{width:680px; height:auto; margin:0 auto; position:relative;}
section .inner .main .bar{width:680px; height:27px; margin:0 auto; background:#efefef;line-height:27px; }
section .inner .main .bar em{color:#a0a0a0; font-size:22px;font-family: Plantagenet Cherokee;}
section .inner .main article{width:469px;height:auto;float:left;margin-top:20px; }
section .inner .main figure{float:right;margin-top:23px;text-align:center;color:#525252;}
section .inner .main figure img{margin-top:47px;}
section .inner .main article:first-of-type{margin-top:60px;}
section .inner .main article h3{font-size:14px;color:#12151c;height:24px;border-bottom:1px dashed #d4d3d3;line-height:24px;}
section .inner .main article p{font-size:12px;color:#525252;margin-top:18px;padding-bottom:20px;border-bottom:1px solid #e6e6e6;}
