/*头部*/

header ul li:first-of-type>a{background:#dedede;height:71px;}

/*导航*/
.wrapper{background:none;}

nav{background:url(../images/huimei_bg_02.gif) no-repeat;box-shadow:-0px 2px 10px -0px #003359;height:519px;}
nav .title{position:absolute; left:307px; top:146px;}



/*内容部分*/
section{width:1500px; height:1182px; margin:0 auto; }
section .inner{width:1000px; height:auto; margin:0 auto;}
section .inner::before{display:block; height:55px;content:""; visibility:hidden;}
section .inner h2{font-size:20px; margin-left:50px;color:#12151c;}
section .inner .main{width:680px; height:auto; margin:0 auto; position:relative;}
section .inner .main .bar{width:680px; height:27px; margin:0 auto; background:#efefef;line-height:27px; }
section .inner .main .bar em{color:#a0a0a0; font-size:22px; font-family:Symbol;}
section .inner .main>p:first-of-type{margin-top:16px;}
section .inner .main>p{font-size:12px; width:657px; margin:0 auto;color:#636363;}
section .inner .main>p::before{display:block; height:26px; content:""; visibility:hidden;}



section .inner .main .photo{width:680px;height:419px; margin:0 auto;border-bottom:1px dashed #a2a2a2;}
section .inner .main .photo::before{display:block; height:54px; content:""; visibility:hidden;}
section .inner .main .photo .show{width:653px; height:245px;margin:0 auto;box-shadow:0px 22px 17px -12px rgba(0,0,0,0.6); position:relative;overflow:hidden;}
section .inner .main .photo .show div.slide{}

section .inner .main .photo .show div.slide{width:653px; height:245px;margin:0 auto;position:relative;background:#efefef;opacity:0.8;position:absolute;left:653px;top:0px;}
section .inner .main .photo .show div.slide h3{width:101px; height:46px; border-top:2px solid #6b6b6b;line-height:46px;position:absolute;left:71px;top:116px;font-size:16px;}
section .inner .main .photo .show div.slide ul{margin-left:182px; margin-top:104px;}
section .inner .main .photo .show div.slide ul li{height:40px;border-bottom:1px dashed #a2a2a2;}
section .inner .main .photo .show div.slide ul li::before{display:block; height:13px; content:""; visibility:hidden;}
section .inner .main .photo .show div.slide ul li h4{height:40px; float:left;width:81px;font-size:12px;margin-left:10px;}
section .inner .main .photo .show div.slide ul li span{ display:block; height:40px; float:left;font-size:12px;font-weight:400;}



section .inner .main .photo .show .left{width:440px;float:left;height:245px;background:url(../images/huimei_show_03.gif) no-repeat;}
section .inner .main .photo .show .right{width:213px; height:245px;float:right; background:#efefef;}
section .inner .main .photo .show .right::before{display:block; height:140px; content:""; visibility:hidden;}
section .inner .main .photo .show .right p{font-size:12px;margin-left:41px;color:#525252;margin-top:9px;	}
section .inner .main .photo .nav{width:680px; height:50px;margin:0 auto; margin-top:33px;}
section .inner .main .photo .nav ul{width:662px; height:50px;margin-left:7px; position:relative;overflow:hidden;}
section .inner .main .photo .nav ul>a{width:18px; height:45px;display:block;position:absolute; border:1px solid #e6e6e6;}
section .inner .main .photo .nav ul .left{background:url(../images/huimei_arrow_03.gif) no-repeat;left:0px; top:0px; }
section .inner .main .photo .nav ul .right{background:url(../images/huimei_arrow_05.gif) no-repeat;right:0px; top:0px; }
section .inner .main .photo .nav ul div.liall{width:1346px;}
section .inner .main .photo .nav ul li{width:74px;height:45px; float:left;margin-left:8px;}

section .inner .main .photo .nav ul li a{display:block;width:74px;height:45px; border:1px solid #f1f2f1;}
section .inner .main .photo .nav ul li .a1{background:url(../images/huimei_pic_0.gif)  no-repeat;}
section .inner .main .photo .nav ul li .a2{background:url(../images/huimei_pic_1.gif)  no-repeat;}
section .inner .main .photo .nav ul li .a3{background:url(../images/huimei_pic_2.gif)  no-repeat;}
section .inner .main .photo .nav ul li .a4{background:url(../images/huimei_pic_3.gif)  no-repeat;}
section .inner .main .photo .nav ul li .a5{background:url(../images/huimei_pic_4.gif)   no-repeat;}
section .inner .main .photo .nav ul li .a6{background:url(../images/huimei_pic_5.gif)   no-repeat;}
section .inner .main .photo .nav ul li .a7{background:url(../images/huimei_pic_6.gif)   no-repeat;}
section .inner .main .photo .nav ul li .a8{background:url(../images/huimei_pic_7.gif)   no-repeat;}
section .inner .main .introduction{width:680px; height:auto;margin:0 auto;position:relative;margin-top:70px;}
section .inner .main .introduction h3{width:101px; height:46px; border-top:2px solid #6b6b6b;line-height:46px;position:absolute;left:-101px;top:0px;font-size:16px;}
section .inner .main .introduction ul{}
section .inner .main .introduction ul li{height:40px;border-bottom:1px dashed #a2a2a2;}
section .inner .main .introduction ul li::before{display:block; height:13px; content:""; visibility:hidden;}
section .inner .main .introduction ul li h4{height:40px; float:left;width:81px;font-size:12px;margin-left:10px;}
section .inner .main .introduction ul li span{ display:block; height:40px; float:left;font-size:12px;font-weight:400;}
