<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=0" name="viewport">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../plugins/promptBox/prompt.css">

    <script data-main = 'main' src="../assets/require/require.min-2.1.11.js"></script>
    <title>appcenter</title>
</head>
<body>
    <div id="content"></div>
    <div class="h5GetPo">
        <h3>h5获取您当前的地理位置</h3>
        <div>
            <span>经度</span><input type="text" name="h5-lon" value="" placeholder="经度" disabled/>
        </div>

        <div>
            <span>纬度</span><input type="text" name="h5-lat" value="" placeholder="纬度" disabled/>
        </div>

    </div>
    <div id="map"></div>
    <div class="ipGetPo">
        <h3>根据您当前ip获取的地理位置</h3>
        <div>
            <span>经度</span><input type="text" name="ip-lon" value="" placeholder="经度" disabled/>
        </div>
       <div>
           <span>纬度</span><input type="text" name="ip-lat" value="" placeholder="纬度" disabled/>
       </div>

    </div>
    <div id="mapIp"></div>
    <script type="text/template" id="tp04">
        <div class = 'sk'>
           <ul>
               <h3>当前天气数据</h3>
               <li><span></span><%=obj.sk?obj.sk.temp:''%>℃</li>
               <li><span></span><%=obj.sk?obj.sk.wind_direction:''%></li>
               <li><span></span><%=obj.sk?obj.sk.wind_strength:''%></li>
               <li><span>湿度</span><%=obj.sk?obj.sk.humidity:''%></li>
               <li><span>更时:</span><%=obj.sk?obj.sk.time:''%></li>

           </ul>
        </div>
        <div class="today">
            <ul>
                <h3>当日总体数据</h3>
            <li><span></span><%=obj.today?obj.today.city:''%></li>
            <li><span></span><%=obj.today?obj.today.date_y:''%></li>
            <li><span></span><%=obj.today?obj.today.week:''%></li>
            <li><span></span><%=obj.today?obj.today.temperature:''%></li>
            <li><span></span><%=obj.today?obj.today.weather:''%></li>
            <li><span></span><%=obj.today?(obj.today.weather_id.fa =! obj.today.weather_id.fb ? '组合天气':(obj.today.weather_id.fa > 52 ? '霾' :'晴' )):''%></li>
            <li><span></span><%=obj.today?obj.today.wind:''%></li>
            <li><span>穿衣：</span><%=obj.today?obj.today.dressing_index:''%></li>
            <li><span></span><%=obj.today?obj.today.dressing_advice:''%></li>
            <li><span>紫外线：</span><%=obj.today?obj.today.uv_index:''%></li>
            <li><span>舒适度：</span><%=obj.today?obj.today.comfort_index:''%></li>
            <li><span>洗车：</span><%=obj.today?obj.today.wash_index:''%></li>
            <li><span>旅游:</span><%=obj.today?obj.today.travel_index:''%></li>
            <li><span>晨练:</span><%=obj.today?obj.today.exercise_index:''%></li>
            <li><span>干燥:</span><%=obj.today?obj.today.drying_index:''%></li>
            </ul>
        </div>
        <div class="future">
            <ul>
                <h3>未来天气数据</h3>
                <%_.each(obj.future,function(v,k){%>
                <li>
                    <dl>
                        <dt><span><%=v.week%></span></dt>
                        <dd><%=v.temperature%></dd>
                        <dd><%=v.weather%></dd>
                        <dd><%=v.weather_id ?(v.weather_id.fa != v.weather_id.fb ? '组合天气' : (v.weather_id.fb > 52 ? '霾' :'晴')):'' %></dd>
                        <dd><%=v.wind%></dd>
                        <dd><%=v.date?(v.date.substr(0,4)+'年'+(v.date.substr(4,2) < 10 ?v.date.substr(5,1):v.date.substr(4,2))+'月'+(v.date.substr(6,2) < 10 ?v.date.substr(7,1):v.date.substr(6,2))+'日'):'' %></dd>
                    </dl>
                </li>
                <%})%>
            </ul>
        </div>
    </script>
    <script type="text/template" id ='tp03'>
        <header class="clearfix">
            <a href="appCenter.html" class="fl">
                <canvas class="logo" width="150" height="150"></canvas>
            </a>
            <div class="weather">
            </div>
        </header>
        <section>
            <div class="testInfo" style="overflow: scroll; height:100px; font-size:2.5vw;">

            </div>

            <nav id = "apptype">
                <%for(var key in obj){%>
                <a data-app-type="<%=key%>" class="<%if(key == 'backbone'){%>curron<%}%>"><%=key%> </a>
               <% } %>

            </nav>
            <% for(var key in obj){%>

            <ul data-app-list="<%=key%>" class="<%if(key != 'backbone'){%>dsn<%}%>">
                <%_.each(obj[key],function(v,k){%>
                    <li class="fl">
                        <dl>
                            <dt class="por">
                                <div class="appMark" data-mark ="<%=v.name%>" style="display:<%=v.display%>">
                                 <img src="img/ock.jpg" alt="" width="100%" height="100%" onerror="this.src='img/lock.png';">
                                </div>
                                <div class="appbtn <%=key%>">
                                    <span class="<%='app_icon_'+v.name%>" data-link="<%=v.name%>" data-appid="<%=v.appId%>">

                                    </span>
                                </div>
                            </dt>
                            <dd><%=v.appName%></dd>
                        </dl>
                    </li>
                <%})%>

                <div class="clear"></div>
            </ul>
            <%}%>
        </section>
    </script>
    <div style = "position:fixed; right:0px; width:120px; height:100px;">
        <a href="data.html" style="display:block; width:120px; height:120px;" id="showlog"></a>
    </div>
</body>
<script type="text/javascript" src="../plugins/loading/loading.js"></script>
</html>