@import "../common/variables";

.zntg-loading {
    transition: opacity $animation-time linear;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    text-align: center;
    top: 0;
    background-color: transparent;
    z-index: 9999;
}

.zntg-loading:after {
    content: "";
    display: inline-block;
}

.zntg-loading-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $mask-light;
}

.zntg-loading-outter {
    position: relative;
    top: 50%;
    margin-top: -0.35rem;
    display: inline-block;
    vertical-align: middle;
    background-color: #222;
    border-radius: .5rem;
    height: .75rem;
}

.zntg-loading-wrap {
    position: absolute;
    width: .56rem;
    height: .56rem;
    top: .094rem;
    left: .09rem
}

.zntg-loading-ring {
    width: .56rem;
    height: .56rem;
    background-image: url("#{$image-path}/common/ring-alt.svg");
    background-size: cover;
    position: absolute;
}

.zntg-loading-rect {
    height: .18rem;
    width: .18rem;
    background-color: #FD404A;
    border-radius: .05rem;
    -webkit-transform: rotate3D(0, 0, 1, 45deg);
    position: absolute;
    left: .28rem;
    top: .28rem;
}

.zntg-loading-text {
    text-align: left;
    color: #fff;
    font-size: .24rem;
    font-family: sans-serif;
    line-height: .75rem;
    padding-left: .85rem;
    padding-right: .26rem;
}

.zntg-loading-enter,
.zntg-loading-leave-active {
    opacity: 0;
}
