html{color:#000;background:#FFF;font-family: 'Arial', 'Microsoft YaHei'!important;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,header,nav,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;    -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

/*个人设置*/
.por {
    position : relative;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
/*字体*/
.fb{
    font-weight : bold;
}
.fsn{
    font-style:normal;
}
.fs14{
    font-size: 14px;
}
.fs15{
    font-size: 15px;
}
.poa{
    position:absolute;
}
.dsn{
    display: none;
}
.dsib{
    display: inline-block;
}
.dsb{
    display: block;
}
input{
    outline: 0 none;
    font-family: "微软雅黑";
}
.clear{
    clear:both;
}
.clearfix:after {content: ""; display: block; height:0; clear:both; visibility: hidden;}  /*清除浮动*/

/*padding*/
.p_t10{
    padding-top:10px;
}
.bt_line{
    height:2px;
    border-top:1px solid #fff;
}
.bt_line_b{
    border-top : 1px solid #A7927f;
}
/*页面*/
/*头部*/
header , nav,section ul,.h5GetPo,.ipGetPo , .testInfo{
    width: 100%;
    border-radius: 6px;
    padding: 10px 5px;
    border: 2px solid #29343a;
    box-shadow: 1px 1px 5px #555;
}
header>a{
    position:fixed;
    top:0px;
    left:0px;
    background: white;
    display:block;height:50px;width:50px; overflow:hidden;
    border-radius:25px;
}
header>a canvas{
    position: absolute;
    top:-50px;
    left:-50px;
}
.sk ,.today ,.future{
    background:#29343a;
    border:2px solid #ddd;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #555;
    padding: 10px 0;
    color:#fff;
    margin:10px;
}
header ul{
    padding :10px;
}

header ul > li{
    margin:0 auto;
    text-align: center;
    margin:5px;
    padding:5px;
    border:1px solid rgba(255,255,255,.4);
    border-radius:4px;
    box-shadow: 1px 1px 6px #ddd;
}

/*选项卡*/
nav{
margin :10px 0;
}
nav a{
    display:inline-block;height:40px;width:calc((100% - (5px + 4px) * 2) / 5 );   padding:2vw 0;line-height:40px;
    text-align: center;
    font-size:4vw;
    color: #29343a;
}
.curron{
    background:#29343a;
    border-radius:4px;
    color:#fff;
}
/*按钮样式*/
section:before ,section:after{
    content: ""; display: block; height:1px; background:#29343a;margin:30px; box-shadow: 1px 1px 5px #29343a;
}
section:before{
  text-align: center; line-height:50px; font-size: 5vw;  content: "App Center"; display: block; height:50px; color:#fff; background:#29343a;margin:30px; box-shadow: 1px 1px 5px #29343a;padding:2vw 0; border-radius: 6px;
}
section ul{
    font-size:2.5vw;

}
section ul li{
    width:calc((100% - (5px + 4px) * 2) / 5 );
}
section ul li dd{
    text-align: center;
}
.appbtn{
    width:100%;
    height: 60px;
}
.appbtn span{
    display: block;
    width:100%;
    height:100%;
}
.app_icon_hover{
    -webkit-filter: blur(1px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);

}
.appMark{
position: absolute;
    width:100%;
    height:60px;
}
.appMark img{
    opacity: 0.9;
}

.backbone span{
    background: url(../img/backbone.png) no-repeat;
    background-size:100% 100%;
}
.angular span{
    background: url(../img/angular.png) no-repeat;
    background-size:100% 100%;
}
.react span{
    background: url(../img/react.png) no-repeat;
    background-size:100% 100%;
}
.vue span{
    background: url(../img/vue.png) no-repeat;
    background-size:100% 100%;
}
.plugin span{
    background: url(../img/plugin.png) no-repeat;
    background-size:100% 100%;
}
/*百度地图样式*/
.h5GetPo div,.ipGetPo div{
    background: #29343a;
    border: 2px solid #ddd;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #555;
    padding: 10px 0;
    color: #fff;
    margin: 10px;
}
.h5GetPo div span,.ipGetPo div span{
    display: inline-block;
    width:30%;
    text-align: center;
}
.h5GetPo div input,.ipGetPo div input{
    width:60%;
    border-radius:4px;
}

#map,#mapIp{
    width:calc(100% - (20px) * 2);
    height:320px;
    border-radius: 6px;
    padding: 10px 5px;
    border: 2px solid #29343a;
    box-shadow: 1px 1px 5px #555;
    margin:15px 20px;
}
/*加载器的css代码*/
.loading-dialog{
    position :  fixed;
    display: -webkit-box;
    -webkit-box-align : center;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
}
.loading-dialog .loading-bg{
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.5);
    width:100%;
    height:100%;
    z-index: 9999;
}
.loading-bg-block{
    background-color: #aaa;
}
.loading-bg-block .loading-bg{
    background-color:transparent;
}
.loading-dialog .loading-inner{
    width : 100%;
    text-align: center;
}
.loading-dialog .loading-content{
    padding: 30px 40px;
    background-color: #000;
    opacity: 0.7;
    border-radius:7px;
    display: inline-block;
    box-shadow: 1px 1px 48px #000;
}
.loading-dialog .loading-tip{
    margin : 10px 0 0 0;
    color:#fff;
}

