.no-risk{
	background-color: $bg-gray;
}
.no-risk-con{
    background-color: $bg-white;
}
.no-risk-u{
    font-size: .3rem;
    text-align: center;
    line-height: .78rem;
    padding-top: .26rem;
}
.no-risk-type{
    color: $f-orange1;
    font-size: .8rem;
    text-align: center;
    line-height: 1.25rem;
}
.no-risk-img{
    width: 1.92rem;
    margin: 0 auto;
    margin-top: .33rem;
}

.no-risk-canbuy{
    text-align: center;
    margin-top: .33rem;
}
.no-risk-canbuy p:nth-child(1),
.no-risk-canbuy p:nth-child(2){
    font-size: .3rem;
    color: $f-dark2;
    line-height: .58rem
}

.no-risk-canbuy p:nth-child(1) span{
    color: $f-orange1;
}
.no-risk-canbuy p:nth-child(2) span{
    color: $f-orange1;
    border: 1px solid $b-orange1;
    font-size: .30rem;
    margin-left: .5rem;
    border-radius: 8px;
    padding: .08rem .22rem;
    white-space: nowrap;
}
.no-risk-tips{
    padding: .26rem .86rem .39rem .86rem;
    font-size: .26rem;
}

.no-risk-tips p:nth-child(1){
    line-height: .45rem;
}
.no-risk-tips p:nth-child(2){
    line-height: .45rem;
    margin-top: 11px;
}
.no-risk-notice{
    margin-top: .52rem;
    padding-right: .36rem;
    text-align: right;
    font-size: .28rem;
    line-height: .48rem;
    background-color: $bg-gray;
    padding-bottom: .5rem;
}