//首页的scss
.remote-risk-con{
    height: 5.58rem;
    background-color: $bg-white;
}
.remote-risk-myrisk {
	text-align: right;
	padding: .2rem .4rem 0 0;
    line-height: 1rem;
    font-size: .28rem;
    color: $f-green;
}

.remote-risk-img{
    height: 2.71rem;
    // margin:0 auto;
    // margin-top: .4rem;
    text-align: center;
}

.remote-risk-introduce{
    width: 4.94rem;
    text-align: center;
    font-size: .30rem;
    margin:0 auto;
    line-height: .45rem;
    padding-top: .4rem;
}





.remote-risk-btn1 {
    width: 82%;
    height: .8rem;
    line-height: .8rem;
    font-size: 0.22rem;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #fff;
    border-radius: .4rem;
    background: rgba(0, 0, 0, 0);
    background-color: #fc7e3b;
    margin:0 auto;
    position: fixed;
    bottom: 2rem;
    left: 9%;
}