//第一步
.step-one-form{
	background-color: $bg-white;
}
.step-one-list1, .step-one-list2 {
	border-bottom: 1px solid $b-grey2;
	height: 1.2rem;
	line-height: 1.2rem;
	display: flex;
	justify-content: space-between;
	padding: 0 .39rem;
	font-size: .34rem;
	white-space: nowrap;
}
.step-one-list1{
	border-top: 1px solid $b-grey2;
}
.step-one-list1 input,
.step-one-list2 input{
	font-size: .34rem;
	text-align: center;
}
.step-one-warn{
	padding: .13rem .24rem .43rem .38rem;
	font-size: .3rem;
	color: #b2b2b2;
	line-height: .44rem;
}