.upload-result-suc{
	height: 3.62rem;
    background-color: $bg-white;
    text-align: center;
    padding-top: .5rem;
}
.upload-result-ok{
    width: 1.45rem;
    margin: 0 auto;
}
.upload-result-text1{
    line-height: .61rem;
    padding-top: .16rem;
}
.upload-result-text2{
    line-height: .57rem;
}