//信息确认页面css样式

.verify-identify-information{
	background-color: $bg-white;
}

.verify-identify-list{
	border-bottom: 1px solid $b-grey2;
	height: .91rem;
	line-height: .91rem;
	display: flex;
	justify-content: space-between;
	padding: 0 .38rem;
	font-size: .3rem;
	white-space: nowrap;
}
.verify-identify-changebtn{
	color: $f-orange1;
	border: 1px solid $b-orange1;
	font-size: .26rem;
	margin-left: .23rem;
	border-radius: 4px;
	padding: .09rem .24rem;
	white-space: nowrap;
}


.verify-identify-time{
	text-align: center;
	margin-top: .49rem;
	padding: 0 .47rem;
}

.verify-identify-time p:nth-child(1){
	font-size: .30rem;
	line-height: .44rem;
}

.verify-identify-time p:nth-child(2){
	font-size: .26rem;
	line-height: .44rem;
	margin-bottom: .49rem;
}