.result-con{
	height: 3.6rem;
	background-color: $bg-white;
	padding-top: .49rem;
}
.result-img{
	height: 1.42rem;
    margin: 0 auto;
    text-align: center;
}
.result-text1{
	font-size: .34rem;
	text-align: center;
	line-height: .60rem;
	margin-top: .18rem;
}
.result-text2{
	line-height: .6rem;
	text-align: center;
	font-size: .3rem;
}

.result-list-text1{
	line-height: .64rem;
	text-align: center;
	margin-top: .32rem;
	font-size: .3rem;
	color: $f-dark2;
}
.result-list-recommend{
	background-color: $bg-white;
}
.result-list-recommend li{
	padding: .30rem .37rem .18rem .37rem;
}

.recommend-title{
	text-align: center;
	font-size: .34rem;
	color: $f-dark2;
	line-height: .43rem
}
.recommend-con, 
.recommend-footer{
	display: flex;
	justify-content: space-between;
}
.result-list-recommend li{
	border-top: 1px solid $b-dark1;
}
.result-list-recommend li:last-child{
	border-bottom: 1px solid $b-dark1;
}

.recommend-con div, 
.recommend-footer div{
	flex: 1;
}
.recommend-con div:nth-child(1){
	color: #ff8000;
	font-size: .36rem;
	line-height: .61rem
}
.recommend-con div:nth-child(1) span{
	font-size: .60rem;
	line-height: .61rem
}
.recommend-con div:nth-child(2){
	color: $f-dark2;
	font-size: .26rem;
	line-height: .61rem
}
.recommend-con div:nth-child(3) span{
	display: block;
	height: .5rem;
	width: 1.31rem;
	border-radius: 4px;
	text-align: center;
	line-height: .5rem;
	color: $f-orange1;
	border: 1px solid $b-orange;
	margin: 0 auto;
}
.recommend-footer{
	font-size: .26rem;
}
.recommend-footer div:nth-child(1){
	white-space: nowrap;
	line-height: .43rem;
}
.recommend-footer div:nth-child(2){
	white-space: nowrap;
	line-height: .43rem;
}