
body{background: #eceae6;}
figure{margin: 0;padding: 0;}
.bigdady{width:1590px;} /*加了个大衣服包起来*/
#college_tv_main_video{width: 1070px;height: 460px;margin:0px auto;}
#college_tv_main_video_left{width: 750px;height: 460px;position: relative;float: left;}
#college_tv_main_video_left figure{width: 750px;height: 447px;}
#college_tv_main_video_left p{position: absolute;bottom: 0px;background: url(../images/college_tv_main_video_bottom_03.jpg);width: 750px;height: 38px;opacity: .7;}

#college_tv_main_video_right{width: 320px;height: 460px;background:url(../images/college_tv_main_video_list_background_03.jpg);float: right;}
#college_tv_main_video_right p{color: white;font-size: 14px;padding: 8px;}
#college_tv_main_video_right_lis{width: 310px;height: 83px;background: url(../images/college_tv_main_video_list_border_28.jpg)no-repeat top;position: relative;}
#college_tv_main_video_right_lis #video_right_lis_back{width: 298px;height: 83px;background: #c3f6f6;opacity: 0.3;position: absolute;margin-left: 6px;top: 0px;}
#college_tv_main_video_right_lis figure{width: 85px;height: 64px;float: left;padding: 10px;}
#college_tv_main_video_right_lis p{font-size: 12px;}
#college_tv_main_video_right_lis h5{color: #555555;}

#college_tv_main_cg{width: 1070px;height: 451px;margin: auto;background: white;margin-top: 30px;}
#college_tv_main_cg p:first-child{width: 1040px;height: 57px;margin: auto;border-bottom: 1px solid #eceae6;font-size: 16px;color: #8c8888;line-height: 57px;padding-left: 20px;}
#college_tv_main_cg ul{width: 1015px;height: 319px;margin: auto;margin-top: 10px;}
#college_tv_main_cg ul li{width: 250px;height: 104px;float: left;background: #cddbdd;margin: 1px;font-size: 14px;color: #555555;}
#college_tv_main_cg ul li img{padding: 18px;width: 73px;height: 73px;float: left;}
#college_tv_main_cg ul li span{display: inline-block;width: 80px;height: 20px;margin-top: 20px;}
#college_tv_main_cg p:last-child{width: 1040px;height: 57px;margin: auto;border-top: 1px solid #eceae6;margin-top: 10px;}
#college_tv_main_cg p a{display: inline-block;width: 84px;height: 29px;border: 1px solid #eceae6;font-size: 14px;color: #555555;margin-top: 10px;float: right;text-align: center;line-height: 29px;margin-right: 10px;}
#college_tv_main_cg ul li.color{color: white;background: #9ca3d5;}
#college_tv_main_cg ul li .none{display: none;}
#college_tv_main_cg ul li .img1{display: none;}
#college_tv_main_cg ul li .img2{display: block;}

#main_news{width: 1066px;height: 409px;margin: auto;background: white;margin-top: 27px;position: relative;}
#main_news #main_news_ul{width: 1070px;height: 334px;}
#main_news #main_news_ul li{width: 354px;height: 166px;float: left;}
#main_news #main_news_ul li:first-child{background: #54d1f5;font-size: 44px;color: #ffffff;text-align: center;line-height: 166px;}
#main_news #main_news_ul li:nth-child(3){background: #54d1f5;}
#main_news #main_news_ul li:nth-child(4){height: 176px;}
#main_news #main_news_ul li:nth-child(5){height: 176px;}
#main_news #main_news_ul li:nth-child(6){height: 176px;}
#main_news #main_news_ul li h5{width: 230px;height: 61px;margin: auto;font-size: 14px;color: #ffffff;margin-top: 42px;font-weight: normal;}
#main_news #main_news_ul li #main_news_ul_a{width: 65px;height: 24px;display: inline-block;border: 1px solid #d2d2d2;border-radius: 5px;font-size: 12px;color: #0d0f18;text-align: center;line-height: 24px;float: right;margin: 22px 9px 0 0;}
#main_news #main_news_ul_p{width: 351px;height: 63px;display: inline-block;font-size: 14px;color: #999999;margin-top: 4px;}
#main_news #main_news_ul_p:nth-of-type(2){border-left: 1px solid #eceae6;border-right: 1px solid #eceae6;}
#main_news #main_news_ul_p span{width: 244px;height: 43px;display: inline-block;padding-left: 16px;padding-top: 17px;}
#main_news #main_news_ul_p a{width: 65px;height: 24px;display: inline-block;border: 1px solid #d2d2d2;border-radius: 5px;font-size: 12px;color: #0d0f18;text-align: center;line-height: 24px;float: right;margin: 22px 9px 0 0;}
#main_news #li2{width:0; height:0;position: absolute;left: 708px;bottom:315px;border-top:7px solid transparent;border-bottom: 7px solid transparent;border-left: 14px solid #cac2b8;}
#main_news #li4{width:0; height:0;position: absolute;left: 160px;bottom:54px;border-top:10px solid #542e61;border-right: 9px solid transparent;border-left: 9px solid transparent;}
#main_news #li5{width:0; height:0;position: absolute;left: 525px;bottom:54px;border-top:10px solid #74a0c7;border-right: 9px solid transparent;border-left: 9px solid transparent;}
#main_news #li6{width:0; height:0;position: absolute;left: 877px;bottom:54px;border-top:10px solid #a2b003;border-right: 9px solid transparent;border-left: 9px solid transparent;}

#article{width: 1070px;height: 769px;margin: auto;margin-top: 20px;}
#article #article_one{width: 448px;height: 769px;background: white;float: left;}
#article #article_one p{width: 448px;height: 125px;background: #483ab1;font-size: 42px;color: white;text-align: center;line-height: 125px;}
#article_one #article_one_div{width: 448px;height: 150px;border-bottom: 1px solid #ededed;}
#article_one_div figure{width: 153px;height: 150px;float: left;}
#article_one_div #article_one_div_right{width: 280px;height: 150px;margin-left: 15px;float: left;}
#article_one_div h4{font-size: 20px;color: #606060;padding: 15px 0 15px 0px;font-weight: normal;}
#article_one_div h5{font-size: 14px;color: #939393;font-weight: normal;font-weight: normal;}
#article_one_div h6{width:auto;height:25px;font-size: 12px;color: #ff6600;font-weight: normal;margin-top: 22px;}
#article_one_div h6 a{width: 64px;height: 25px;display: inline-block;border: 1px solid #939393;color: #0d0f18;text-align: center;line-height: 25px;border-radius: 5px;margin-left: 109px;}

#article_one #article_one_ul{width: 70px;height: 17px;background: #4e63a4;margin: auto;margin-top: 10px;border-radius: 10px;}
#article_one #article_one_ul li{width: 7px;height: 7px;float: left;background: white;margin: 5px;border-radius: 50%;}
#article_one #article_one_ul li:first-child{background: #ffb452;}

#article #article_two{width: 314px;height: 769px;float: left;}
#article_two #article_two_p{width: 314px;height: 206px;background: #fb6e52;font-size: 42px;color: white;text-align: center;line-height: 206px;}
#article_two figure{width: 313px;height: 189px;}
/*#article_two figure:nth-of-type(2){background: url(../images/college_tv_main_list_middle_02.jpg);}*/
/*#article_two #article_two_div{width: 313px;height: 187px;background: coral;opacity: 0.8;}*/
/*#article_two #article_two_div h5{width: 258px;height: 30px;font-size: 16px;color: white;padding: 30px 0 20px 34px;background: url()no-repeat left;margin-left: 21px;font-weight: normal;}
#article_two #article_two_div h6{width: 212px;height: 82px;color: white;font-size: 14px;padding-left: 54px;font-weight: normal;}
#article_two #article_two_div h6 a{color: #633e36;}*/

#article #article_three{width: 285px;height: 572px;background: white;float: right;}
#article_three p{width: 285px;height: 124px;background: #54d1f5;font-size: 42px;color: white;text-align: center;line-height: 124px;}
#article_three a{width: 61px;height: 25px;display: inline-block;float: right;border: 1px solid #ededed;font-size: 12px;color: #4d4d4d;border-radius: 10px;text-align: center;line-height: 25px;margin: 8px 12px 0 0;}
#article_three #article_three_div{width: 280px;height: 101px;border-bottom: 1px solid #ededed;}
#article_three #article_three_div figure{width: 64px;height: 64px;padding: 19px;float: left;}
#article_three_div #article_three_div_right{width: 151px;height: 67px;float: left;}
#article_three_div #article_three_div_right h4{font-size: 16px;color: #4d4d4d;padding-top: 23px;font-weight: normal;}
#article_three_div #article_three_div_right h5{font-size: 12px;color:#939393;padding: 3px 0;font-weight: normal;}

#article #article_three_banner{width:284px;height:188px;margin-top: 8px;float: right;}



/* 图片淡入淡出*/
.turn{ width:354px; height:166px;position:0; overflow:hidden;}
.turn-pic .turn-pic_li1{position:absolute; top:0px; left:354px; filter:alpha(opacity=0); opacity:0;}
.turn-pic .turn-pic_li1 img{ width:354px; height:166px; overflow:hidden;} 
/* 图片淡入淡出*/

/* 鼠标移动首先遮罩效果*/
.examples_body { width: 313px;clear: both;overflow: hidden; position: relative;}
.examples_body h3 {  color: #f9f66d;  font-size: 130%;}
.bannerHolder { width: 313px;margin:0 auto; overflow: hidden;}
.bannerHolder li {list-style: none; display: inline;}
#banner { width: 313px; height: 187px; position: relative;overflow: hidden; float: left;display: inline;}
#banner img { display: block; border: none;}
#banner div { position: absolute; z-index: 100; background-color: coral; width: 60px; height: 60px; cursor: pointer; -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px;}
#banner .cornerTL { left:-63px; top:-63px; }
#banner .cornerTR { right:-63px; top:-63px;}
#banner .cornerBL { left:-63px; bottom:-63px; }
#banner .cornerBR { right:-63px; bottom:-63px; }
#banner h5 { width: 100%;left: 0; top: 57px; z-index: 200; position: absolute; color: #FFF; font-size: 11px; text-align: center; cursor: pointer; display: none;}
#banner p:nth-child(1){height:25px;font-size: 16px;color: white;background: url(../images/college_tv_main_list_middle_04.gif)no-repeat left;margin-left: 21px;font-weight: normal;line-height: 25px;padding-left: 40px;position: absolute;top: -30px;}
#banner p:nth-child(2){width: 212px;height: 82px;color: white;font-size: 14px;padding-left: 54px;font-weight: normal;margin-top: 20px;}
#banner p:nth-child(2) a{color: #633e36;}

#banner2 { width: 313px; height: 187px; position: relative;overflow: hidden; float: left;display: inline;}
#banner2 img { display: block; border: none;}
#banner2 div { position: absolute; z-index: 100; background-color: coral; width: 60px; height: 60px; cursor: pointer; -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px;}
#banner2 .cornerTL { left:-63px; top:-63px; }
#banner2 .cornerTR { right:-63px; top:-63px;}
#banner2 .cornerBL { left:-63px; bottom:-63px; }
#banner2 .cornerBR { right:-63px; bottom:-63px; }
#banner2 h5 { width: 100%;left: 0; top: 57px; z-index: 200; position: absolute; color: #FFF; font-size: 11px; text-align: center; cursor: pointer; display: none;}
#banner2 p:nth-child(1){height:25px;font-size: 16px;color: white;background: url(../images/college_tv_main_list_middle_04.gif)no-repeat left;margin-left: 21px;font-weight: normal;line-height: 25px;padding-left: 40px;position: absolute;top: -30px;}
#banner2 p:nth-child(2){width: 212px;height: 82px;color: white;font-size: 14px;padding-left: 54px;font-weight: normal;margin-top: 20px;}
#banner2 p:nth-child(2) a{color: #633e36;}

#banner3 { width: 313px; height: 187px; position: relative;overflow: hidden; float: left;display: inline;}
#banner3 img { display: block; border: none;}
#banner3 div { position: absolute; z-index: 100; background-color: coral; width: 60px; height: 60px; cursor: pointer; -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px;}
#banner3 .cornerTL { left:-63px; top:-63px; }
#banner3 .cornerTR { right:-63px; top:-63px;}
#banner3 .cornerBL { left:-63px; bottom:-63px; }
#banner3 .cornerBR { right:-63px; bottom:-63px; }
#banner3 h5 { width: 100%;left: 0; top: 57px; z-index: 200; position: absolute; color: #FFF; font-size: 11px; text-align: center; cursor: pointer; display: none;}
#banner3 p:nth-child(1){height:25px;font-size: 16px;color: white;background: url(../images/college_tv_main_list_middle_04.gif)no-repeat left;margin-left: 21px;font-weight: normal;line-height: 25px;padding-left: 40px;position: absolute;top: -30px;}
#banner3 p:nth-child(2){width: 212px;height: 82px;color: white;font-size: 14px;padding-left: 54px;font-weight: normal;margin-top: 20px;}
#banner3 p:nth-child(2) a{color: #633e36;}
/* 鼠标移动首先遮罩效果*/

