@charset "utf-8";


/*横幅*/
.banner{
	margin-top:-20px;
	background: #2B80DA;	
}

.banner img{
	

	margin: 0px auto;
}

/*引擎*/


.engine{background:#fbfaf7;}


.engine div.container .media{margin-top:30px;}
/*.engine div.container .media .media-left:hover a>img{animation:good 2s ease-out;}
@-webkit-keyframes good{
	from{transform:rotate(0deg);}
	
	to{transform:rotate(360deg);}
}*/

/*优势*/


.laybox .container .media{margin-top:20px;}


/**家族*/

.family{background:#0079d7;}
.family .container{padding-bottom:70px;}

.family .container .media{margin-top:30px;}
.family .container .media .media-left{padding-right:40px;}
.family .container .media .media-body{color:#fffefe;}



/*游戏*/
.game .container{padding-bottom:60px;}
.game .container .row .video{margin-top:22px;}
.game .container .row .container-fluid a{margin-top:22px;color:#2a2a2a;font-size: 14px;text-align: center;}
.game .container .row>span{line-height:4;}
.game .container .row>span a{color:#000;}

/*合作伙伴*/
.partner .container .row a img{border: 1px solid #dddddd;
    width: 148px;
    height: 64px;
    border-radius: 5px;}
.partner .container{padding-bottom:60px;}
.partner{background: #f4f4f4;}
.partner .container .row a{margin-top:10px;}



/* 小屏幕（手机，小于等于768px） */
@media (max-width:767px) {
 .engine div.container{
	
	padding-bottom:70px;	
}
.engine div.container>h2{    
	font-size: 1.5em;
    color: #0078d7;
    font-weight: bold;
    padding-top: 25px;
    text-align:center;
    }
.engine div.container>h3{
	  font-size: 1.0em;
    color: #666;
    margin-top: 15px;
    margin-bottom:20px;
    text-align:center;
}
.engine div.container .media .media-body h4{    font-size: 1em;color:#333;margin-bottom:10px; font-weight:bold;margin-top:5px;}
.engine div.container .media .media-body{ font-size: 0.7em;}
.engine div.container .media .media-left{padding-right:40px;}



.laybox .container{ padding-bottom:70px;}
.laybox .container h2{  font-size: 1.5em;color: #8fc31f;font-weight: bold; padding-top:230px;margin-bottom: 27px;}
.laybox .container .media .media-body{vertical-align:middle;font-size:0.7em; }
.laybox .container .media .media-body p{display:inline-block;}
.laybox .container{background:url(../images/advantige_03.png) no-repeat 62% 0%; padding-bottom:70px;}
	
.family .container h2{  font-size:1.5em;color: #fffefe;padding-top: 95px;text-align: center;margin-bottom: 60px;}

.family .container .media .media-left{    vertical-align:middle;}
	.family .container .media .media-body{font-size:0.7em;}
	.family .container .media .media-body .media-heading{  font-size: 1.5em;font-family: "Arial"; color:#fffefe;margin-bottom:20px;}
	.game .container h2{font-size:1.5em;}
.partner .container .row a{padding-left:0;padding-right:0px;}
.partner .container .row a:nth-of-type(even) img{float:left;margin-left:5px;}
.partner .container .row a:nth-of-type(odd) img{float:right;margin-right:5px;}
.partner .container h2{ color: #2a2a2a;font-size:1.5em;}
	.partner .container h2 sub{font-size:0.5em;}	
		
}


/* 小屏幕（平板，大于等于768px） */
@media (min-width:768px){

 
.engine div.container{
	background: url(../images/pic_03.png) no-repeat 101% 98%;
	padding-bottom:90px;	
}
div.engine div.container>h2{font-size:40px;text-align:center;
		color: #0078d7;
    font-weight: bold;
    padding-top: 95px;}
div.engine div.container>h3{
	    font-size: 30px;
    color: #666;
    margin-top: 15px;
    margin-bottom:20px;
    text-align: center;
}

.laybox .container{ padding-bottom:70px;}
.laybox .container h2{  font-size: 3em;color:#8fc31f;font-weight: bold; padding-top:60px;margin-bottom: 27px;}
.laybox .container .media .media-body{vertical-align:middle;font-size:1.2em;}

.laybox .container{background:url(../images/advantige_03.png) no-repeat 100% 80%; padding-bottom:70px;}

.family .container h2{  font-size: 48px;color: #fffefe;padding-top: 95px;text-align: center;margin-bottom: 60px;}
.family .container .media .media-body .media-heading{  font-size: 32px;font-family: "Arial"; color:#fffefe;margin-bottom:20px;}


.partner .container h2{    
	font-size: 30px;
    color: #2a2a2a;
    margin-left: 15px;
    padding-top: 37px;
    margin-bottom: 6px;}
}


/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width:993px) {
	 nav .navli a{
	padding:15px 15px;
}
	
	
 .engine div.container{
	background: url(../images/pic_03.png) no-repeat 97% 89%;
	padding-bottom:90px;
}
div.engine div.container>h2{font-size:40px;text-align:left;
		color: #0078d7;
    font-weight: bold;
    padding-top: 95px;}
div.engine div.container>h3{
	    font-size: 30px;
    color: #666;
    margin-top: 15px;
    margin-bottom:20px;
    text-align:left;
}
.engine div.container .media .media-body h4{       font-size: 19px;
    color: #333;margin-bottom:15px;}
.engine div.container .media .media-body{    font-size: 14px;
    color: #666;}
    
.laybox .container{background:url(../images/advantige_03.png) no-repeat 22% 76%; padding-bottom:70px;}

	
}


/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px){
 .engine div.container{
	background: url(../images/pic_03.png) no-repeat 86% 128%;
	padding-bottom:90px;
}
div.engine div.container>h2{font-size:40px;text-align:left;
		color: #0078d7;
    font-weight: bold;
    padding-top: 95px;}
div.engine div.container>h3{
	    font-size: 30px;
    color: #666;
    margin-top: 15px;
    margin-bottom:20px;
    text-align:left;
}
.engine div.container .media .media-body h4{       font-size: 19px;
    color: #333;margin-bottom:15px;}
.engine div.container .media .media-body{     font-size: 14px;
    color: #666;}
.laybox .container{background:url(../images/advantige_03.png) no-repeat 22% 76%; padding-bottom:70px;}

.partner .container .row a{margin-top:20px;}

footer .container .row span{text-align:left;}
footer .container .row p{text-align:left;}
footer .container .row .contact{display:block;margin-top:20px;}
footer .container .row .contact>a{float:right;margin-right:20px;display:block;}
footer .container .row .contact>a:first-of-type{}
footer .container .row .contact .wechat{position:relative;}

footer .container .row .contact>a img.hidpic{display:none;position: absolute;left:-51px; top:-156px;}
footer .container .row .contact .wechat:hover  img.hidpic{display:block;}

}
