.zntg-toast {
    position: fixed;
    color: #fff;
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    text-align: center;
    z-index: 1000;
    transition: opacity $animation-time linear;

    &.is-placebottom {
        bottom: 50px;
    }

    &.is-placemiddle {
        top: 50%;
        transform: translate(0, -50%)
    }

    &.is-placetop {
        top: 50px;
    }
}

.zntg-toast-icon {
    display: block;
    text-align: center;
    font-size: 1.1rem;
}
.zntg-toast-text {
    padding: 10px;
    max-width: 80%;
    border-radius: 5px;
    background: $mask-dark;
    font-size: .28rem;
    display: inline-block;
    text-align: center
}
.zntg-toast-pop-enter, .zntg-toast-pop-leave-active {
    opacity: 0
}